<html>
<head>
    <meta charset="utf-8">
    <title>Learnig Vue.Js</title>
    <link href="style.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    
</head>
<body>
    <div id="vue-app">
        <!--#region Binding-->
        <h1>{{ greet('afternoon') }}</h1>
        <div hidden name="binding">
            <p> {{name}}</p>
            <p>{{job}}</p>
            <!--binding-->
            <a v-bind:href="website">Website</a>
            <p v-html="websiteTag"></p>
        </div>
        <!-- #endregion -->
        <!--#region Events -->
        <div hidden name="events">           
             <p>{{ age }}</p>
            <button v-on:click="addAge(1)">Add years</button>
            <button @click="subAge(1)">Subtstract years</button>
            <!--double click-->
            <button v-on:dblclick="addAge(10)">Add 10 years</button>
            <button @dblclick="subAge(10)">Subtstract  10 years</button>
            <!--mouse move-->
            <div id="canvas" v-on:mousemove="coordinates">
                {{x}},{{y}}
            </div>
        </div>
        <!-- #endregion -->
        <!--#region Event modifier-->
        <div hidden name="event modifier">
            <a  v-on:click.prevent="linkClick" href="https://www.google.ba">Google website</a>
        </div>
        <!--#endregion-->
        
        <!--#region keyboard events -->
        <div hidden>
        <label>Name</label>
        <input type="text" v-on:keyup.enter="logName"/>
        <label>Age</label>
        <input type="text" v-on:keyup.alt.enter="logAge"/>
        </div>
        <!--#endregion keyboard events -->
        <!--#region 2-wat data binding-->
        <div hidden>
        <label>Name</label>
        <input type="text" v-model="name"/>
        <span>{{name}}</span>
        <label>Age</label>
        <input type="number" v-model="age"/>
        <span>{{age}}</span>
        </div>
        <!--#endregion-->
        <!-- #region Computed properties:
             funkcije koje se izvrsavaju samo kada moraju, ako se koriste methods onda ce se sve pozivati kada se parsira html text-->
        <div hidden>
            <button v-on:click="a++">Add to A</button>
            <button @click="b--">Subtstract to B</button>
            <p>A = {{a}}</p><p>B = {{b}}</p>
            <p>Age+A={{addToA}}</p>
            <p>Age+B={{addToB}}</p>
        </div>
        <!--#endregion-->
        <!--#region Dynamic Css Classes-->
        <div hidden>
            <h3>Dynamic CSS CLasses</h3>
           <!-- <div v-on:click="available = !available" v-bind:class="{available : available}">
                <span>Uber</span>
            </div>-->
            <button v-on:click="nearby = !nearby">Toggle nearby</button>
            <button v-on:click="available = !available">Toggle available</button>
            <div  v-bind:class="compClasses">
                <span>Taxi</span>
            </div>

        </div>
        <!--#endregion-->
        <!--#region Conditionals-->
        <div hidden>
            <button v-on:click="error = !error">Toggle Error</button>
            <button v-on:click="success = !success">Toggle Success</button>
            <p v-if="error" class="Condition">
                Error show
            </p>
            <p v-else-if="success" class="Condition">
                Success show
            </p>
            <p v-show="error" >Show Error</p>
            <p v-show="success">Show Success</p>
        </div>

        <!--#endregion-->

        <!--#region Looping with v-for-->
        <div hidden>
            <!--{{characters[0]}}-->
            <ul>
                <li v-for="character in characters">
                    {{character}}
                </li>
            </ul>
            <ul>
                <li v-for="(ninja,index) in ninjas">
                    index:{{index}} {{ninja.name}} -- {{ninja.age}}
                </li>
            </ul>
            <template v-for="ninja in ninjas">
                <div v-for="(val,key) in ninja">
                    <p>{{key}} -- {{val}}</p>
                </div>
            </template>
            <select>
                 <option  v-for="character in characters":value="character">
                     {{character}}
                 </option>

            </select>

        </div>
        <!-- #endregion -->
    </div><!--end of vue-app -->

    <!--Vue instance se ne mogu preklapati. vue_app ne smije u sebi sadrzati vue_app_one ili vue_app_two-->
    <!-- #region Multiple Vue Instance-->
    <div hidden id="vue-app-one">
        <h2>{{title}}</h2>
        <p>{{greet()}}</p>
        <button v-on:click="changeTitle">Change App Title</button>

    </div><!--end of vue-app-one -->


    <div hidden id="vue-app-two">
        <h2>{{title}}</h2>
        <p>{{greet}}</p>
        <button v-on:click="changeTitle">Change App Title</button>
        
    </div><!--end of vue-two -->
    <!-- #endregion -->

    <!--#region Components-->
    <div  id="vue-app-one-component">
        <h2>{{title}}</h2>
        <p>{{greet()}}</p>
        <button v-on:click="changeTitle">Change App Title</button>
        <greeting></greeting>
    </div><!--end of vue-app-one -->


    <div  id="vue-app-two-component">
        <h2>{{title}}</h2>
        <p>{{greet}}</p>
        <button v-on:click="changeTitle">Change App Title</button>
        <greeting></greeting>
    </div><!--end of vue-two -->

    <!-- #endregion -->
    <!--JS file mora ici na kraj-->
    <script src="app.js"></script>
</body>

</html>